<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		  crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<div class="col-11 text-left" style="margin-top: 0.2%">
			<ul class="list-inline h5" id="headAuthUser">


				<li class="list-inline-item text-white text-strong navbar-brand"
					id="headerUsername"
					th:text="${#authentication.principal.getName()}"></li>
				<li class="list-inline-item text-white navbar-brand">with roles:</li>
				<span th:each="role: ${#authentication.principal.roles}">
            <li th:utext="${role. getRoleNameWithoutPrefix()}" class="list-inline-item text-white navbar-brand" id="headerRoles">
              <strong></strong></li>
            </span>

			</ul>
		</div>
		<div>
			<button form="logout" class="fs-5 pe-4 btn btn-dark text-white-50" type="submit">Logout</button>
			<form id="logout" method="POST" th:action="@{/logout}"></form>
		</div>
	</div>
</nav>

<div class="row">
	<div class="col-2">
		<div class="nav nav-tabs flex-column nav-pills me-3" role=tablist>
			<a class="nav-link active" href="#user" role="tab" data-toggle="tab">User</a>
		</div>

	</div>
	<div class="tab-content col-10">

		<div role="tabpanel" class="tab-pane active" id="user">
			<div class="d-flex align-content-center flex-wrap" style="height: 100px">
				<h1 class="display-3">User information-page</h1>
			</div>
			<table class="table table-striped table-bordered table-hover caption-top">
				<caption><p class="fw-bold">About user</p></caption>
				<thead class="table-dark">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Age</th>
					<th>Roles</th>
				</tr>

				</thead>

				<tbody id="authUserTable">
				<td th:utext="${#authentication.principal.id}">Id</td>
				<td th:utext="${#authentication.principal.name}">Name</td>
				<td th:utext="${#authentication.principal.surname}">Surname</td>
				<td th:utext="${#authentication.principal.age}">Age</td>
				<td>
					<div th:each="role : ${#authentication.principal.roles}">
						<div th:text="${role.getRoleNameWithoutPrefix()}">user</div>
					</div>
				</td>
				</tbody>
			</table>


		</div>

	</div>



</div>

</body>




<script src="jquery-3.6.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>